<div class="row">
    <div class="col-md-12">
        <h1>Comments on {{ photo.caption | title }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>{{ html_anchor('admin/photos', '<span class="glyphicon glyphicon-camera"></span> Back to Photos', {'class': 'btn btn-primary'}) }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{ asset_img('main/thumb/' ~ photo.filename, {'height': '150px'}) }}
    </div>
</div>

{{ include('comments/comment_block.twig') }}