<div class="row">
    <div class="col-md-12">
        <h1>Upload a New Photograph</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <p>{{ html_anchor('admin', '<span class="glyphicon glyphicon-home"></span> Back to Admin', {'class': 'btn btn-primary'}) }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">   
        {{ form }}
    </div>
</div>