<div class="row">
    <div class="col-md-12">
        <h2>Edit User: {{ user.username }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>{{ html_anchor('admin/users', '<span class="glyphicon glyphicon-user"></span> Back to Users', {'class': 'btn btn-primary'}) }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        {{ asset_img('profile/thumb/' ~ image, {'class': 'center-block img-responsive'}) }}
    </div>
</div>

<div class="row top-buffer">
    <div class="col-md-6">
        {{ form }}
    </div>
</div>