<div class="row">
    <div class="col-md-12">
        <h1>Update {{ username }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <p>{{ html_anchor('profile/edit', '<span class="glyphicon glyphicon-th-list"></span> Return to Edit Menu', {'class': 'btn btn-primary'}) }}</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        {{ include(form) }}
    </div>
</div>